/* NAVIGATION MENU */

#menu {
	height: 37px;
	width: 95%;
	display: block;
	padding: 0;
	margin: 20px auto;
	border: 1px solid;
	border-radius: 5px;
}

#menu>ul {
	list-style: inside none;
	padding: 0;
	margin: 0;
}

#menu>ul>li {
	list-style: inside none;
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
}

#menu>ul>li.left {
    float: left;
}

#menu>ul>li.right {
    float: right;
}

#menu>ul>li>a {
	outline: none;
	display: block;
	position: relative;
	padding: 12px 20px;
	font: bold 13px/100% Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

#menu>ul>li.left:first-child>a {
	border-radius: 5px 0 0 5px;
}

#menu>ul>li.right:last-child>a {
    border-radius: 0 5px 5px 0;
}

#menu>ul>li.left>a:after {
	content: '';
	position: absolute;
	border-right: 1px solid;
	top: -1px;
	bottom: -1px;
	right: -2px;
	z-index: 99;
}

#menu>ul>li.right>a:after {
    content: '';
    position: absolute;
    border-left: 1px solid;
    top: -1px;
    bottom: -1px;
    left: -2px;
    z-index: 99;
}

#menu ul li.has-sub:hover>a:after {
	top: 0;
	bottom: 0;
}

#menu>ul>li.has-sub>a:before {
	content: '';
	position: absolute;
	top: 18px;
	right: 6px;
	border: 5px solid transparent;
	border-top: 5px solid #fff;
}

#menu>ul>li.has-sub:hover>a:before {
	top: 19px;
}

#menu ul li.has-sub:hover>a {
	background: #3f3f3f;
	border-color: #3f3f3f;
	padding-bottom: 13px;
	padding-top: 13px;
	top: -1px;
	z-index: 999;
}

#menu ul li.has-sub:hover>ul,#menu ul li.has-sub:hover>div {
	display: block;
}

#menu ul li.has-sub>a:hover {
	background: #3f3f3f;
	border-color: #3f3f3f;
}

#menu ul li>ul,#menu ul li>div {
	display: none;
	width: auto;
	position: absolute;
	top: 38px;
	padding: 10px 0;
	background: #3f3f3f;
	border-radius: 0 0 5px 5px;
	z-index: 999;
}

#menu ul li>ul {
	width: 200px;
}

#menu ul li>ul li {
	display: block;
	list-style: inside none;
	padding: 0;
	margin: 0;
	position: relative;
}

#menu ul li>ul li a {
	outline: none;
	display: block;
	position: relative;
	margin: 0;
	padding: 8px 20px;
	font: 10pt Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#menu,#menu>ul>li>ul>li a:hover {
	background: #a67547;
	background: -moz-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a67547),
		color-stop(100%, #88583a));
	background: -webkit-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -o-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -ms-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: linear-gradient(top, #a67547 0%, #88583a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#a67547',
		endColorstr='#88583a', GradientType=0);
}

#menu {
	border-color: #583926;
}

#menu>ul>li.left>a {
	border-right: 1px solid #583926;
	color: #fff;
}

#menu>ul>li.right>a {
    border-left: 1px solid #583926;
    color: #fff;
}

#menu>ul>li.left>a:after {
	border-color: #d5a172;
}

#menu>ul>li.right>a:after {
    border-color: #d5a172;
}

#menu>ul>li>a:hover {
	background: #7e4e31;
}

/* CONTAINER */

#container {
	height: 80%;
	width: 95%;
	display: block;
	background-color: #fff;
    background-image: -ms-radial-gradient(center, circle farthest-corner, #fff 0%, #dedede 100%);
    background-image: -moz-radial-gradient(center, circle farthest-corner, #fff 0%, #dedede 100%);
    background-image: -o-radial-gradient(center, circle farthest-corner, #fff 0%, #dedede 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #fff), color-stop(1, #dedede));
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #fff 0%, #dedede 100%);
    background-image: radial-gradient(circle farthest-corner at center, #fff 0%, #dedede 100%);
	margin: 20px auto;
	border: 1px solid;
	border-radius: 5px;
	border-color: #583926;
}

/* FOOTER */

#footer {
    height: 37px;
    width: 95%;
    display: block;
    padding: 0;
    margin: 20px auto;
    border: 1px solid;
    border-radius: 5px;
}

#footer>ul {
    list-style: inside none;
    padding: 0;
    margin: 0;
}

#footer>ul>li {
    list-style: inside none;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}

#footer>ul>li.left {
    float: left;
}

#footer>ul>li.right {
    float: right;
}

#footer>ul>li>span {
    outline: none;
    display: block;
    position: relative;
    padding: 12px 20px;
    font: bold 13px/100% Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

#footer>ul>li.left:first-child>span {
    border-radius: 5px 0 0 5px;
}

#footer>ul>li.right:last-child>span {
    border-radius: 0 5px 5px 0;
}

#footer {
	background: #a67547;
    background: -moz-linear-gradient(top, #a67547 0%, #88583a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a67547),
        color-stop(100%, #88583a));
    background: -webkit-linear-gradient(top, #a67547 0%, #88583a 100%);
    background: -o-linear-gradient(top, #a67547 0%, #88583a 100%);
    background: -ms-linear-gradient(top, #a67547 0%, #88583a 100%);
    background: linear-gradient(top, #a67547 0%, #88583a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#a67547',
        endColorstr='#88583a', GradientType=0);
    border-color: #583926;
}

#footer>ul>li.left>span {
    color: #fff;
}

#footer>ul>li.right>span {
    color: #fff;
}