/* NAVIGATION MENU */

#menu {
	height: 37px;
	width: 80%;
	display: block;
	padding: 0;
	margin: 20px auto;
	border: 1px solid;
	border-radius: 5px;
}

#menu>ul {
	list-style: inside none;
	padding: 0;
	margin: 0;
}

#menu>ul>li {
	list-style: inside none;
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
}

#menu>ul>li.left {
	float: left;
}

#menu>ul>li.right {
	float: right;
}

#menu>ul>li>a {
	outline: none;
	display: block;
	position: relative;
	padding: 12px 20px;
	font: bold 13px/100% Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

#menu>ul>li.left:first-child>a {
	border-radius: 5px 0 0 5px;
}

#menu>ul>li.right:last-child>a {
	border-radius: 0 5px 5px 0;
}

#menu>ul>li.left>a:after {
	content: '';
	position: absolute;
	border-right: 1px solid;
	top: -1px;
	bottom: -1px;
	right: -2px;
	z-index: 99;
}

#menu>ul>li.right>a:after {
	content: '';
	position: absolute;
	border-left: 1px solid;
	top: -1px;
	bottom: -1px;
	left: -2px;
	z-index: 99;
}

#menu ul li.has-sub:hover>a:after {
	top: 0;
	bottom: 0;
}

#menu>ul>li.has-sub>a:before {
	content: '';
	position: absolute;
	top: 18px;
	right: 6px;
	border: 5px solid transparent;
	border-top: 5px solid #fff;
}

#menu>ul>li.has-sub:hover>a:before {
	top: 19px;
}

#menu ul li.has-sub:hover>a {
	background: #3f3f3f;
	border-color: #3f3f3f;
	padding-bottom: 13px;
	padding-top: 13px;
	top: -1px;
	z-index: 999;
}

#menu ul li.has-sub:hover>ul,#menu ul li.has-sub:hover>div {
	display: block;
}

#menu ul li.has-sub>a:hover {
	background: #3f3f3f;
	border-color: #3f3f3f;
}

#menu ul li>ul,#menu ul li>div {
	display: none;
	width: auto;
	position: absolute;
	top: 38px;
	padding: 10px 0;
	background: #3f3f3f;
	border-radius: 0 0 5px 5px;
	z-index: 999;
}

#menu ul li>ul {
	width: 200px;
}

#menu ul li>ul li {
	display: block;
	list-style: inside none;
	padding: 0;
	margin: 0;
	position: relative;
}

#menu ul li>ul li a {
	outline: none;
	display: block;
	position: relative;
	margin: 0;
	padding: 8px 20px;
	font: 10pt Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#menu,#menu>ul>li>ul>li a:hover {
	background: #a67547;
	background: -moz-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a67547),
		color-stop(100%, #88583a));
	background: -webkit-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -o-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -ms-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: linear-gradient(top, #a67547 0%, #88583a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a67547',
		endColorstr='#88583a', GradientType=0);
}

#menu {
	border-color: #583926;
}

#menu>ul>li.left>a {
	border-right: 1px solid #583926;
	color: #fff;
}

#menu>ul>li.right>a {
	border-left: 1px solid #583926;
	color: #fff;
}

#menu>ul>li.left>a:after {
	border-color: #d5a172;
}

#menu>ul>li.right>a:after {
	border-color: #d5a172;
}

#menu>ul>li>a:hover {
	background: #7e4e31;
}

/* CONTAINER */

#container {
	width: 80%;
	display: block;
	background-color: #fff;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #fff 0%, #dedede
		100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #fff 0%, #dedede
		100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #fff 0%, #dedede 100%
		);
	background-image: -webkit-gradient(radial, center center, 0, center center, 506,
		color-stop(0, #fff), color-stop(1, #dedede));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #fff 0%, #dedede
		100%);
	background-image: radial-gradient(circle farthest-corner at center, #fff 0%, #dedede 100%);
	margin: 20px auto;
	border: 1px solid;
	border-radius: 5px;
	border-color: #583926;
}

/* FOOTER */

#footer {
	height: 37px;
	width: 80%;
	display: block;
	padding: 0;
	margin: 20px auto;
	border: 1px solid;
	border-radius: 5px;
}

#footer>ul {
	list-style: inside none;
	padding: 0;
	margin: 0;
}

#footer>ul>li {
	list-style: inside none;
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
}

#footer>ul>li.left {
	float: left;
}

#footer>ul>li.right {
	float: right;
}

#footer>ul>li>span {
	outline: none;
	display: block;
	position: relative;
	padding: 12px 20px;
	font: bold 13px/100% Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

#footer>ul>li.left:first-child>span {
	border-radius: 5px 0 0 5px;
}

#footer>ul>li.right:last-child>span {
	border-radius: 0 5px 5px 0;
}

#footer {
	background: #a67547;
	background: -moz-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a67547),
		color-stop(100%, #88583a));
	background: -webkit-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -o-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: -ms-linear-gradient(top, #a67547 0%, #88583a 100%);
	background: linear-gradient(top, #a67547 0%, #88583a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a67547',
		endColorstr='#88583a', GradientType=0);
	border-color: #583926;
}

#footer>ul>li.left>span {
	color: #fff;
}

#footer>ul>li.right>span {
	color: #fff;
}

/* BUTTONS */

.button,.button span {
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button {
	white-space: nowrap;
	line-height: 1em;
	position: relative;
	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #999; /* IE */
	border: rgba(0, 0, 0, .2) 1px solid; /* Saf4+, Chrome, FF3.6 */
	border-bottom: rgba(0, 0, 0, .4) 1px solid;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%); /* FF3.6 */
	background: -webkit-gradient(linear, center bottom, center top, from(rgba(0, 0, 0,
		.1)), to(rgba(255, 255, 255, .1))); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',
		EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
	/* IE8 */
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.button.full,.button.full span {
	display: block;
}

.button:hover,.button.hover {
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%); /* FF3.6 */
	background: -webkit-gradient(linear, center bottom, center top, from(rgba(255, 255,
		255, .1)), to(rgba(255, 255, 255, .2))); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF',
		EndColorStr='#19FFFFFF'); /* IE6,IE7 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";
	/* IE8 */
}

.button:active,.button.active {
	top: 1px;
}

.button span {
	position: relative;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border-top: rgba(255, 255, 255, .2) 1px solid;
	padding: 0.6em 1.3em;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
}

.button.small span {
	font-size: 12px;
}

.button.medium span {
	font-size: 14px;
}

.button.large span {
	font-size: 18px;
}

.button.black {
	background-color: #333333;
}

.button.gray {
	background-color: #666666;
}

.button.white {
	background-color: #FFFFFF;
}

.button.white span {
	color: #666666;
}

.button.red {
	background-color: #e62727;
}

.button.orange {
	background-color: #ff5c00;
}

.button.magenta {
	background-color: #A9014B;
}

.button.yellow {
	background-color: #ffb515;
}

.button.blue {
	background-color: #00ADEE;
}

.button.pink {
	background-color: #e22092;
}

.button.green {
	background-color: #91bd09;
}

.button.rosy {
	background-color: #F16C7C;
}

.button.brown {
	background-color: #804000;
}

.button.purple {
	background-color: #800080;
}

.button.cyan {
	background-color: #46C7C7;
}

.button.gold {
	background-color: #D4A017;
}

/* TITLES */

h1 {
	margin: 0;
	color: #8f5a0a;
    padding: 10px 10px;
    border-bottom: 5px double #8f5a0a;
    text-align: center;
}

/* TABLE */

#container>table {
    font-size: 20px;
    position: relative;
    width: 100%;
}

#container>table>thead>tr>th {
    color: #8f5a0a;
    padding: 10px 10px;
    border-top: 5px double #8f5a0a;
    border-bottom: 5px double #8f5a0a;
}

#container>table.no0>thead>tr>th {
	border-top: 0;
}

#container>table>tbody>tr>td {
    border-bottom: 1px solid #8f5a0a;
}

#container>table>tbody>tr:last-child>td {
    border-bottom: 0;
}

/* LINKS */

a:link {
	text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    color: red;
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

strong {
	color: red;
}

fieldset,
.property-list {
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
	font-size: 15px;
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #8f5a0a;
    font-weight: bold;
    text-align: right;
    width: 25%;
}

.fieldcontain label {
	float: left;
    width: 27%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 30px;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
    margin-bottom: 5px;
}

input[type=text], select, textarea {
	width: 250px;
}

input, select, textarea {
    background-color: #faf0e6;
    border: 1px solid #8f5a0a;
    border-radius: 5px;
    font-size: 1em;
    padding: 8px 10px 8px 10px;
}


select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
	color: #5e2605;
    background-color: #eee;
    border: 1px solid #8f5a0a;
    outline: 0;
}

.required-indicator {
    color: red;
    font-weight: normal;
    display: inline-block;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    list-style-position: inside;
    vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
    display: inline;
    zoom: 1;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
       -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
            box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
       -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
            box-shadow: 0 0 0.5em #ffaaaa;
}

/* ACTION BUTTONS */

.buttons {
    overflow: hidden;
    padding: 10px 10px;
    border-top: 5px double #8f5a0a;
    font-size: 20px;
    text-align: center;
}

.buttons input,
.buttons a {
    background-color: transparent;
    border: 0;
    color: #8f5a0a;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

       -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
            border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
    background-color: #a67547;
    color: #fff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
    background-color: transparent;
    color: #8f5a0a;
    text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
    padding-left: 36px;
}

.buttons .delete {
    background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
    background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
    background-image: url(../images/skin/database_save.png);
}
