/* NOTIFICATION BOXES (author:http://www.paulund.co.uk/) */

#notif {
	margin: 0 auto;
	padding: 20px 0;
	width: 700px;
}

.info, .error {
    margin: 20px 50px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

h4 {
	margin: 5px 5px 5px 80px;
	padding: 0;
	font-size: 16px;
}

p {
	font-size: 12px;
	color: #000;
	margin: 5px 5px 5px 80px;
}

.info {
	border: 1px solid #0e7fad;
	color: #0e7fad;
	background: #c0e9fa url('../images/skin/info.png') no-repeat;
	background-position: 30px center;
	-moz-box-shadow: 0 0 22px #87CEEB;
    -webkit-box-shadow: 0 0 22px #87CEEB;
    box-shadow: 0 0 22px #87CEEB;
}

.error {
	border: 1px solid #641f1a;
	color: #641f1a;
	background: #ffd2d4 url('../images/skin/error.png') no-repeat;
	background-position:30px center;
	-moz-box-shadow: 0 0 22px #EEB4B4;
    -webkit-box-shadow: 0 0 22px #EEB4B4;
    box-shadow: 0 0 22px #EEB4B4;
}